.Container{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}
.AppHeader {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #0b0b16;
    display: grid;
    grid-template-columns: .2fr .1fr .2fr; 
}
.Hp{
    padding-top: 20%;
}
.columContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imgContainer{
    display: flex;
    justify-content: flex-end;
}
.Thermometer{ 
    padding-bottom: .2%;
    width: 35vmin;   
}