.Container{
    margin-left: 35%;
    margin-top: 3%;
 }
/* .containerVideo {
    padding-bottom: 0%;
    width: 10%;
    height: 30%;
    position: absolute; 
    bottom: 0; 
    margin-bottom: 0%;
}
.video{

} */