.Container{
    display: grid;
    grid-template-columns: .1fr 1fr;
}
.video {
    padding-bottom: 2%;
    padding-left: 2%;
    width: 6%;
    height: 16%;
    position: absolute; 
    bottom: 0; 
}
.btnContainer{
    position: absolute; 
    bottom: 3%;
    left: calc(10% + 10px);
}
.Next{
    width: 16vmin;
}