.Container{
    display: grid;
    grid-template-columns: .1fr 1fr;
    padding-left: 2%;
}
.video {
    
    padding-bottom: 3%;
    width: 60%;
    height: 15%;
    position: absolute; 
    bottom: 0; 
}
.btnContainer{
    position: absolute; 
    bottom: 0;
    left: calc(10% + 10px);
}