*{
  background-color: #f3edd1;
}
.main{
  text-align: center;
}

.Container {
  position: absolute;
    top: 50vh;
    right: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}
.audio-button {
  font-size: 120%;
  background-color: #dfdbcb;
  width: 6%;
  height: 12%;
  border-radius: 5%;
}
.Tittle{
  height: 35vmin;
  pointer-events:none;
}
.Edad{
  height: 7vmin;
}

.App-header {
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0b0b16;
}



.container-btn1 :hover{
  cursor: pointer;
}

.container-btn2 :hover{
  cursor: pointer;
}

.container-btn3 :hover{
  cursor: pointer;
}

